.nav-button>ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-left: 5%;
}

.nav-button>ul li{
	
}

a:-webkit-any-link {
	text-decoration: none;
	color:inherit;
	font-size: 0.8vw;
	margin:0.4px;
	border-right: 1px solid #727272;
	padding:0.7%;
	box-shadow: inset -1px -3px 11px 3px  #727272;
}

a:-webkit-any-link:hover{	
	box-shadow: inset 1px -2px 4px 0px  #2b2b2b;
}